html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: kanit;
  src: url("assets/fonts/Kanit-SemiBold.ttf");

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

button {
  padding: 12px;
  width: 120px;
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: bold;
  border-radius: 12px;
  border-color: red;
  border-style: solid;
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgb(173, 173, 173);

}

button:active {
  background-color: gray;
  transition-duration: 0s;
}

.selected {
  background-color: rgb(173, 173, 173);
}

h1 {
  font-family: kanit;
}

p {
  font-family: kanit;
}

#beta-disclaimer {
  padding: 12px;
}

body {
  background-color: black;
  color: white;
}